@media (min-width: 650px) {
  .App {
  }
}

@media (max-width: 650px) {
  .App {
    flex-wrap: wrap;
  }
}

.App {
  width: 80vw;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 650px) {
  .Wrapper {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .Wrapper {
    width: 70vw;
  }
}

.Wrapper {
  padding: 20px;
  font-size: 1.5rem;
}
