@media (min-width: 650px) {
  .LottoNumberList {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .LottoNumberList {
    width: 70vw;
  }
}

.LottoNumberList {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.LottoNumber {
  display: flex;
  flex-wrap: wrap;
}
